<!-- Base template -->
<!DOCTYPE html>
<html>
<body>
	<header>
		<div class="container">
			<h1 class="logo">Sample Website</h1>
			<strong>
				<nav>
					<ul class="menu">
						<li><a href="{{ url_for('home') }}">Home</a></li>
						<li><a href="{{ url_for('about') }}">About</a></li>
					</ul>
				</nav>
			</strong>
		</div>
	</header>
	<div class="container">
		<!-- Child template will come in this block. -->
		{%block content%} <!-- templating syntax -->
		{%endblock%}	<!-- End of block. -->
	</div>
</body>
</html>